@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=VT323&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 4px 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #cfdbd5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

#display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333533;
  border-radius: 10px;
  padding: 10px;
}

.pads-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  grid-gap: 10px;
  -ms-grid-columns: 90px 90px 90px;
      grid-template-columns: 90px 90px 90px;
  max-width: 300px;
}

.drum-pad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  background-color: #f5cb5c;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.5em;
}

.active-drum {
  background-color: purple;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.console {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 300px;
  color: #64dfdf;
}

.console h1 {
  font-size: 25px;
}

.console .power-btn {
  background-color: transparent;
  border-radius: 50%;
  color: #8ac926;
  font-size: 20px;
  cursor: pointer;
  height: 50px;
  width: 50px;
  position: relative;
  top: 7px;
}

button:focus, button:active {
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.display-console {
  color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
  margin: 10px 0;
  border-radius: 5px;
  font-family: 'VT323', monospace;
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #48bfe3;
  -webkit-box-shadow: inset 1px 1px 6px 0px #050505, 0px 0px 4px 2px #000, 0px 0px 4px 2px #777;
          box-shadow: inset 1px 1px 6px 0px #050505, 0px 0px 4px 2px #000, 0px 0px 4px 2px #777;
}

.display-console #sound-display {
  font-size: 30px;
  height: 35px;
}

.display-console #volume-display, .display-console #bank-display {
  font-size: 20px;
}

.power-off {
  color: #2d2d2d;
}

.display-off {
  background: #2d2d2d;
  -webkit-box-shadow: inset 1px 1px 7px 0px #050505, 0px 0px 4px 2px #000, 0px 0px 4px 2px #777;
          box-shadow: inset 1px 1px 7px 0px #050505, 0px 0px 4px 2px #000, 0px 0px 4px 2px #777;
}

.off {
  display: none;
}

.bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bank button {
  margin: 10px 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #f5cb5c;
  border: 2px solid darkgoldenrod;
}

.bank button:active {
  -webkit-box-shadow: inset 1px 1px 7px 0px darkgoldenrod;
          box-shadow: inset 1px 1px 7px 0px darkgoldenrod;
}

.volume-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: 10px 0;
  width: 150px;
}

[type='range']::-moz-focus-outer {
  border: 0;
}

[type='range']:focus {
  outline: 0;
}

[type='range']:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}

[type='range']:focus::-ms-fill-lower {
  background: #000;
}

[type='range']:focus::-ms-fill-upper {
  background: #0d0d0d;
}

[type='range']::-webkit-slider-runnable-track {
  cursor: default;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 150px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #000;
  border: 2px solid #212529;
  border-radius: 5px;
}

[type='range']::-webkit-slider-thumb {
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #607d8b;
  border: 2px solid #212529;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  height: 20px;
  width: 15px;
  -webkit-appearance: none;
  margin-top: -8px;
}

[type='range']::-moz-range-track {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 150px;
  background: #000;
  border: 2px solid #212529;
  border-radius: 5px;
  height: 4px;
}

[type='range']::-moz-range-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #607d8b;
  border: 2px solid #212529;
  border-radius: 0;
  box-sizing: border-box;
  cursor: default;
  height: 20px;
  width: 15px;
}

[type='range']::-ms-track {
  cursor: default;
  height: 8px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 150px;
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
}

[type='range']::-ms-fill-lower {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: black;
  border: 2px solid #212529;
  border-radius: 10px;
}

[type='range']::-ms-fill-upper {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(13, 13, 13, 0.2);
  background: #000;
  border: 2px solid #212529;
  border-radius: 10px;
}

[type='range']::-ms-thumb {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: #607d8b;
  border: 2px solid #212529;
  border-radius: 0;
  box-sizing: border-box;
  cursor: default;
  height: 20px;
  width: 15px;
  margin-top: 2px;
}

[type='range']:disabled::-webkit-slider-thumb, [type='range']:disabled::-moz-range-thumb, [type='range']:disabled::-ms-thumb, [type='range']:disabled::-webkit-slider-runnable-track, [type='range']:disabled::-ms-fill-lower, [type='range']:disabled::-ms-fill-upper {
  cursor: not-allowed;
}

@media only screen and (max-width: 800px) {
  #display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */